---
title: Home
---

<html>
<head>
    <title>Howard Chen</title>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport'/>

    <meta name='description' content="Howard Chen's website.">
    <meta name='author' content='Howard Chen'>

    <link rel='shortcut icon' href='/favicon.png' />
    <link href='/css/blog.css' rel='stylesheet'/>

    {% include mathjax.html %}
</head>
<body class="home-page" style="min-height: 100vh; display: flex; flex-direction: column;">
    {% include nav.html %}
    <div id='blog' class='wrap' style="flex: 1;">

        <p style="font-size: 26px">Howard Chen</p>
        <!-- Add image and text side by side -->
        <div style="display: flex; gap: 2.5rem; align-items: flex-start;">
            <div style="flex: 1; font-size: 15px;">
                I recently received my PhD in CS from <a href="https://pli.princeton.edu/">Princeton</a>, where I was co-advised by <a href="https://www.cs.princeton.edu/~danqic/">Danqi Chen</a> and <a href="https://www.cs.princeton.edu/~karthikn/">Karthik Narasimhan</a>.

                <p>
                    <div style="font-weight: bold;">My research goal is to build systems that can continually learn.</div>
                    Specifically, I aim to build lifelong agents that can operate reliably over long interactive horizons and evolve through self-update.
                    I approch it through the lens of <a style="font-style: italic;">memory</a> in both its in-context and parametric forms: 
                    designing challenging evaluation to stress test long-horizon agentic capabilities (<a href="https://arxiv.org/abs/2207.01206">WebShop</a>),
                    developing algorithms that let models self-organize and manage its long-term memory (<a href="https://arxiv.org/abs/2310.05029">MemWalker</a>),
                    examining reliability under context accumulation (<a href="https://arxiv.org/abs/2511.01805">Tracking Belief Shift</a>),
                    and understading how model parameters can be updated without drastic forgetting of old knowledge/capabilities (<a href="https://arxiv.org/abs/2411.07175">Continual Memorization</a>, <a href="https://arxiv.org/abs/2510.18874">RL Mitigates Forgetting</a>).
                    I am also broadly interested in topics like interpretability and safety from the memory perspective.
                </p>
                <!--<p>
                    Please see my <a href="https://scholar.google.com/citations?user=wsNa_W4AAAAJ&hl=en&authuser=3">google scholar page</a> for the up-to-date publications.
                </p>-->

                <p>
                    During my PhD, I have interned at Meta (FAIR) working with <a href="http://asli.us/">Asli Celikyilmaz</a> and <a href="https://www.thespermwhale.com/jaseweston/">Jason Weston</a>.
                    Prior to Princeton, I was an ML researcher at <a href="https://www.asapp.com/">ASAPP</a> working with <a href="https://taolei87.github.io/">Tao Lei</a>. I was also a research assistant at Cornell Tech working with <a href="https://yoavartzi.com/">Yoav Artzi</a>.
                </p>

                <p>
                    I recieved my M.Eng. in CS from Cornell and B.S. in EE from<br>National Taiwan University.
                </p>

            </div>
            <div style="width: 32%; flex-shrink: 0;">
                <img src="/assets/howardchen.png" style="width: 100%;">
                    <a style="font-family: courier; font-size: 14px">howardchen@cs.princeton.edu</a>
                    <br>
                    <div style="font-size: 14px;">
                        <div style="display: inline-block; margin-right: 5px;"><a href="https://scholar.google.com/citations?user=wsNa_W4AAAAJ&hl=en&authuser=3">Google Scholar</a></div> | 
                        <div style="display: inline-block; margin-left: 5px; margin-right: 5px;"><a href="https://github.com/howard50b">GitHub</a></div> |
                        <div style="display: inline-block; margin-left: 5px;"><a href="https://x.com/__howardchen">Twitter</a></div>
                    </div>
            </div>
        </div>
    </div>

    <footer style="font-size: 10px; text-align: center; padding: 20px; font-style: italic; margin-top: auto;">
        This website is adapted from <a href="http://gregorygundersen.com/">Gregory Gunderson</a>.
    </footer>
</body>
</html>
