---
title: Blog
---

<html>
<head>
    <title>Blog</title>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport'/>

    <meta name='description' content='Blog posts'>
    <meta name='author' content='Howard Chen'>

    <link rel='shortcut icon' href='/favicon.png' />
    <link href='/css/blog.css' rel='stylesheet'/>

    {% include mathjax.html %}
</head>
<body class="blog-landing">
    {% include nav.html %}
    <div id='blog' class='wrap'>
        <div id='intro'>
            <div class='quote'>
                <p>"In science, if you know what you are doing, you should not be doing it.<br>In engineering, if you do not know what you are doing, you should not be doing it."</p>
                <p>&mdash; Richard W. Hamming</p> <!--align right for the name-->
            </div>
        </div>
        <div id='posts' class='section'>
            {% for post in site.posts %}
                <div class='post-row'>
                    <p class='post-title'>
                        <a href="{{ post.url }}">
                            {{ post.title }}
                        </a>
                    </p>
                    <p class='post-date'>
                        {{ post.date | date: '%d %b %Y' }}
                    </p>
                </div>
                <span class='hidden'>{{ forloop.index }}</span>
            {% endfor %}
        </div>
    </div>
</body>
</html>

